<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Política de Seguridad de Contenido -->
      <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://trustedscripts.example.com; object-src 'none';">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div style="display: flex;flex-direction: column; justify-content: center;text-align: center; align-items: center; height: 100vh;">
        <h1 style="color: black;font-size: 3em;">CHISTOSO TE CREES</h1>
       
        <img th:src="@{/imagenes/psyduckError.gif}" alt="psyduck">
        
    </div>
</body>
</html>