<!--FOOTER-->
<footer class="parte_inferior" id="usuario_footer">
    <a name="cont"></a>
    <!--REDES-->
    <div class="container-fluid ">
        <div class="row contredes" style="background: #f2f2f2;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 redes" style="padding-top: 2%;">
                <a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.google.com/?hl=es" target="_blank"><i class="fa-brands fa-square-google-plus"></i></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    
    
    <!--CONTACTO-->
        <div class="container-fluid">
            <div id="contacto" class="row">
                <div class="col-sm-3 centrar">
                    <div class="llame">
                        <h5>Contáctanos</h5>
                        <p>Bodega 100% segura</p>
                        <p>Bodegas Peruana Jany´s</p>
                        <p>R.U.C. 2060212562356</p>
                        <p>Ofertas disponibles</p>
                        <p>¡Solo en tienda!</p>
                    </div>
               
                </div>
                <div class="col-sm-4">
                  <img class="ima_bcp" th:src="@{/imagenes/reclamo.JPG}" alt="">
                  <p class="pr">Todos los derechos reservados</p>
                  <p class="pr">Dirección: Los Duraznos #355</p>
                </div>
                <div class="col-sm-5"> 
                  <img class="ima_logo" th:src="@{/imagenes/logoredibj.png}" alt="">
                </div>
                </div>    
        </div>
        
</footer>
