<div class="container-fluid parte_superior" id="usuario_header">
    <div class="row">
        <div class="col-sm-9 clogo">
          <img class="logobj" th:src="@{/imagenes/logoredibj.png}">
          <h1 class="tlog">Bodega Jany´s</h1>
        </div>
        <div class="col-sm-3 perfil">
            <a class="inicia" th:href="@{Login}">
                <span class="inses">Iniciar Sesión</span>
            </a>
            <div class="icono_p">
                <a th:href="@{/Login}"><i   class="fa-solid fa-circle-user ica" style="color: #ff9f48;"></i></a>
                <a th:href="@{/CarritoP}"><i  class="fa-solid fa-cart-plus ico" style="color: #ff9f48;"></i></a>
            </div>
        </div>
    </div>
</div>
