<!--HEADER-->
<div class="container-fluid parte_superior" id="header_login_usuario">
  <script src="https://cdn.userway.org/widget.js" data-account="T6szI2ktJ7"></script>
  <div class="row">
      <div class="col-sm-9 clogo">
        <img class="logobj" th:src="@{/imagenes/logoredibj.png}">
        <h1 class="tlog">Bodega Jany´s</h1>
      </div>
      <div class="col-sm-3 perfil">
          <a class="inicia" th:href="@{/Cliente}">
              <span class="inses">Usuario</span>
          </a>
          <div class="icono_p">
            <!-- public_pedidos_lista.jsp" -->
            <a th:href="@{/Cliente}"><i class="fa-solid fa-circle-user ica" style="color: #ff9f48;"></i></a>
            <!-- public_usuarios_vista_pedidos.jsp -->
            <a th:href="@{/CarritoP}"> <i class="fa-solid fa-cart-plus ico" style="color: #ff9f48;"></i></a>
            <!-- Salir de la sesion de cliente -->
            <a th:href="@{/usuario/cerrarSesion}" style="cursor: pointer;">
                <i id="ico" class="fa-solid fa-right-from-bracket ico" style="color: #ff9f48;"></i>
            </a>
          </div>
      </div>
  </div>
</div>
